body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 20px;
    transition: all 0.5s ease-out;
    
}
.avatar:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    box-shadow: 5px 5px #253237;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #9DB4C0;
    color: #253237;
    border-bottom: 6px solid #E0FBFC;
    border-radius: 20px;
}

.border-blue {
    border: 1px dotted blue;
}